$default-text-color: #231815;
$border-blue-color: #00437c;
$yellow-link-color: #e39300;
$gray-button-color: #727171;
$white-text-color: #fff;
$mobile-menu-bg-color: #00244f;
$mobile-menu-link-color: #335072;